body{
    background-image: linear-gradient(125deg,#a1e2dd,#627db6);
    background-size: 400%;
    animation: bganimation 15s infinite;
    max-width: 1000px;
    margin: 0 auto;
}

@keyframes bganimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

tr{
	height: 30px;
}

td.text-center{
	line-height: 30px!important;
    font-size: 17px;
    color: rgb(85, 74, 90);	
}