body{
    background-image: linear-gradient(125deg,#305f8d,#58d38b,#4979d3,#ac79e6,#da6bb8);
    background-size: 400%;
    animation: bganimation 15s infinite;
	max-width: 1200px;
	margin: 0 auto;
}

@keyframes bganimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


.input-wrapper{
	position: relative;
	margin: 0 10px 10PX 0;
	padding: 4PX 6PX;
	border-radius: 4PX;
	border: 1px solid #000;
	line-height: 30px;
}

.input-wrapper input{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.input-wrapper.active{
	background: black;
	color: #FFFFFF;
}