body{
    background-image: linear-gradient(125deg,#c1e2a1,#bee7d4);
    background-size: 400%;
    animation: bganimation 15s infinite;
}

@keyframes bganimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
